.btn-component {
  .blob-btn {
    margin: 0;
    padding: 0;
    color: $blue;
    font-size: 0.8rem;
    border: 0.3em solid $blue;
    border-radius: 0.5em;
    width: 15em;
    height: 3.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: $main-bg;
    cursor: pointer;

    span {
      position: absolute;
      width: 25%;
      height: 100%;
      background-color: $blue;
      transform: translateY(150%);
      border-radius: 50%;
      left: calc((var(--n) - 1) * 25%);
      transition: 0.5s;
      transition-delay: calc((var(--n) - 1) * 0.1s);
      z-index: -1;
    }
  }

  button:hover {
    color: $main-bg;
  }

  button:hover span {
    transform: translateY(0) scale(2);
  }

  button span:nth-child(1) {
    --n: 1;
  }

  button span:nth-child(2) {
    --n: 2;
  }

  button span:nth-child(3) {
    --n: 3;
  }

  button span:nth-child(4) {
    --n: 4;
  }
}

//
//
//
//
//

.phone-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 6;
  display: none;
}

$fg: #232323;
$pi: 3.14;

$menu-items: 4;
$open-distance: 105px;
$opening-angle: $pi * 2;

a {
  color: white;
  text-decoration: none;
  text-align: center;
}

%goo {
  filter: url('#shadowed-goo');
}

%ball {
  background: $fg;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  border: 1px solid $blue;
  text-align: center;
}
.menu-open {
  display: none;
}
.menu-item {
  @extend %ball;
}

.hamburger {
  $width: 25px;
  $height: 3px;
  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}
$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}
.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
.menu {
  @extend %goo;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin-right: 1rem;
}

.menu-item {
  &:hover {
    background: $blue;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms+ (80ms * $i);
      transform: translate3d(0, (-80px * $i), 0);
    }
  }
}

@media (max-width: 35em) {
  .phone-nav {
    display: block;
  }
}
