.btn-component {
  .blob-btn {
    margin: 0;
    padding: 0;
    color: $blue;
    font-size: 0.8rem;
    border: 0.3em solid $blue;
    border-radius: 0.5em;
    width: 13em;
    height: 3em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    background-color: $main-bg;
    cursor: pointer;

    span {
      position: absolute;
      width: 25%;
      height: 100%;
      background-color: $blue;
      transform: translateY(150%);
      border-radius: 50%;
      left: calc((var(--n) - 1) * 25%);
      transition: 0.5s;
      transition-delay: calc((var(--n) - 1) * 0.1s);
      z-index: -1;
    }
  }

  button:hover {
    color: $main-bg;
  }

  button:hover span {
    transform: translateY(0) scale(2);
  }

  button span:nth-child(1) {
    --n: 1;
  }

  button span:nth-child(2) {
    --n: 2;
  }

  button span:nth-child(3) {
    --n: 3;
  }

  button span:nth-child(4) {
    --n: 4;
  }
}
