@import './util';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-bg;
  color: $white;
  font-family: $main-font;
  height: 100%;
}

@import './Pages/mainPage';

@import './header';

@import './btns';

@import './Pages/projects';

@import './Pages/skills';

@import './Pages/footer';
