.about-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  position: absolute;
  top: 2rem;
  // right: 17rem;
  // left: 17rem;

  width: 70rem;
  // margin: 0 auto;

  left: 50%;
  transform: translate(-50%, 0);

  z-index: 5;

  .about {
    width: 50%;
    padding: 3rem;
    background-color: #ebebeb;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: $main-bg;
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    h3 {
      font-size: 2rem;
    }

    h4 {
      margin: 1.5rem 0;
      font-family: $title-font;
      font-weight: 100;
    }

    p {
      max-width: 25rem;
      line-height: 1.3;
      font-size: 1.2rem;
    }

    span {
      color: $blue;
    }

    .bg-about {
      font-size: 13rem;
      color: rgba(0, 0, 0, 0.11);
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  .contact {
    width: 50%;
    padding: 3rem;
    background-color: $second-bg;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: start;

    h3 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      width: 100%;
    }

    .contact-side {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;
      gap: 1rem;

      a {
        text-decoration: none;
        display: flex;
        // justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.4rem;

        svg {
          font-size: 2rem;
          margin-left: 0.4rem;
        }
      }

      span {
        color: $blue;
        margin-left: 0.4rem;
      }
    }

    .bg-contact {
      font-size: 13rem;
      color: rgba(255, 255, 255, 0.071);
      position: absolute;
      bottom: 0;
      left: 1rem;
    }

    .close {
      position: absolute;
      font-size: 2rem;
      top: 3rem;
    }
  }
}

@media (max-width: 71.25em) {
  .about-contact {
    .contact {
      padding-right: 0;
    }

    width: 50rem;
  }
}

@media (max-width: 51.25em) {
  .about-contact {
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    .about {
      width: 30rem;
      height: 25rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }

    .contact {
      width: 30rem;
      height: 25rem;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0;
    }
  }
}

@media (max-width: 30.625em) {
  .about-contact {
    .about {
      width: 20rem;
      height: 30rem;
    }

    .contact {
      width: 20rem;
      height: 30rem;
      padding: 3rem;

      h3 {
        text-align: center;
        margin-bottom: 2rem;
      }

      .contact-side {
        justify-content: center;
        margin-bottom: 2rem;
        a {
          flex-direction: column;
          justify-content: center;

          span {
            margin: 0.6rem 0;
          }
        }
      }
    }
  }
}
