.skills-container {
  text-align: center;
  padding: 0 1rem;
  background-color: $second-bg;
  position: relative;

  h2 {
    font-size: 2.5rem;
  }

  .skills {
    height: 30rem;
    position: relative;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    svg {
      font-size: 7rem;
      animation-name: floating;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    svg:nth-child(1) {
      color: #e34c26;
      animation-duration: 4s;
    }

    svg:nth-child(2) {
      color: #2965f1;
      animation-duration: 4.5s;
    }

    svg:nth-child(3) {
      color: #f0db4f;
      animation-duration: 5s;
    }

    svg:nth-child(4) {
      color: #61dbfb;
      animation-duration: 5.5s;
    }

    @keyframes floating {
      from {
        transform: translate(0, 0px);
      }
      65% {
        transform: translate(0, 15px);
      }
      to {
        transform: translate(0, -0px);
      }
    }

    .float-skills {
      position: absolute;
      font-size: 1.3rem;
      opacity: 0.6;
    }

    .skill-one {
      left: 28%;
      top: 4rem;
    }

    .skill-two {
      bottom: 5rem;
      right: 32%;
    }

    .skill-three {
      bottom: 7rem;
      left: 25%;
    }

    .skill-four {
      top: 5rem;
      right: 30%;
    }

    .skill-five {
      bottom: 9rem;
    }
  }
}

@media (max-width: 38.75em) {
  .skills-container {
    h2 {
      margin-bottom: 5rem;
    }
    .skills {
      flex-wrap: wrap;

      .skill-one {
        left: 10%;
        top: 0rem;
      }

      .skill-two {
        bottom: 10.5rem;
      }

      .skill-three {
        bottom: 13rem;
      }

      .skill-four {
        top: -2rem;
        right: 5%;
      }

      .skill-five {
        bottom: 13em;
      }
    }
  }
}

.wave-top {
  position: absolute;
  top: -5rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
  }
  .shape-fill {
    fill: #232323;
  }
}

.wave-bottom {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
  }

  .shape-fill {
    fill: $main-bg;
  }
}
